@{ ViewData["Title"] = "Home Page"; }



<div class="banner">
    <div class="container">
        <div class="banner-text">
            <div class="banner-heading">
                Ucz się z nami języków za darmo!!
            </div>
            <div class="banner-sub-heading">
                Nauka z nami jest ciekawa, a wszytskie opinie świadczą o tym że nie zmarnujesz z nami czasu. Nauczysz sie wielu nowych słów, zwrotów które to napewno wykorzystasz w codziennym życiu.
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="offer-title">
        <h2>Co Oferujemy</h2>
    </div>
    <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
                <h4>Szybka nauka</h4>
                <p class="description">Codzienna dawka nowych słówek oraz zwrotów, które poprawią twoje umiejętności językowe!</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
                <h4 class="title">Słowniczek</h4>
                <p class="description">Jeżeli czegoś zapomniałeś to nie przejmuj się wszystko u nas znajdziesz i sobie przypomnisz!</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
                <h4 class="title">Dostęp</h4>
                <p class="description">Żaden czas Cię u nas nie zatrzymuej, korzystaj do woli i kiedy chcesz bez limitu!</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
                <h4 class="title">Oraz wiele więcej</h4>
                <p class="description">Sam się przekonasz jak zaczniesz z nami swoją drogę przez naukę języków!</p>
            </div>
        </div>
    </div>
</div>



<div class="counts section-bg">
    <div class="container">
        <div class="row justify-content-end">

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span class="purecounter">1000+</span>
                    <p>Zadowolonych użytkowników</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span class="purecounter">50+</span>
                    <p>Słówek</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span class="purecounter">50+</span>
                    <p>Zadań do rozwiązania</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span class="purecounter">5</span>
                    <p>Nagród</p>
                </div>
            </div>

        </div>

    </div>
</div>







    

