@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');

.body {
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
}

p {
    color: #6c6c6f;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #323233;
    text-transform: uppercase;
}

.navbar-brand span {
    color: #fed136;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

.navbar-brand {
    color: #fff;
    font-size: 25px;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    font-family: 'Gothic A1', sans-serif;
}

    .navbar-nav .nav-item .nav-link:hover {
        color: #fed136;
    }


nav {
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    background-color: black;
}

.shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}

.banner {
    background-image: url("/rm373batch13-085.jpg");
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    margin-top: -50px;
}

.banner-text {
    padding: 200px 0 150px 0;
    text-align:center;
}

.banner-heading {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
    color: #fff;
}

.banner-sub-heading {
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
    color: #fff;
}


.text-intro {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}


/* mobile view */
@media (max-width:500px) {
    .navbar-nav {
        background-color: #000;
        border-top: 3px solid #fed136;
        color: #fff;
        z-index: 1;
        margin-top: 5px;
    }

        .navbar-nav .nav-item .nav-link {
            padding: 0.7em 1em !important;
            font-size: 100%;
            font-weight: 500;
        }

    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-heading {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .banner-sub-heading {
        font-size: 10px;
        font-weight: 200;
        line-height: 10px;
        margin-bottom: 40px;
    }
}

@media (max-width:768px) {
    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-sub-heading {
        font-size: 23px;
        font-weight: 200;
        line-height: 23px;
        margin-bottom: 40px;
    }
}



.icon-boxes {
    margin-top: 80px;
}

.icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.icon-box .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
    }
.icon-box .title a {
            color: #124265;
            transition: 0.3s;
        }
.icon-box .description {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 0;
    }

.offer-title {
    margin-top: 100px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.counts {
    margin-top:100px;
    margin-bottom: 100px;
    padding: 60px 0;
}

.counts .count-box {
        width: 100%;
        text-align: center;
    }

    .counts .count-box span {
        font-size: 48px;
        line-height: 48px;
        display: block;
        font-weight: 700;
        color: #fed136;
        margin-left: 80px;
        margin: auto;
    }

.counts .count-box p {
            padding: 8px 0 0 0;
            font-weight: 600;
            font-size: 14px;
            color: white;
        }
.section-bg {
    background-color: black;
    width: 100%;
}



.about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-title{
    text-align: center;
}

    .about-title > h2 {
        margin-bottom: 60px;
    }


.test {
    margin-top: 100px;
    margin-bottom: 100px;
}
.test-title {
    margin-bottom: 80px;
}

.footer {
    background-color: black;
    height: 60px;
    text-align: center;
}

    .footer p {
        color: #fed136;
    }
.kurs-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
.kurs {
    color: white;
    text-align: center;
    padding: 60px 0;
    width: 60%;
}
    .kurs h2 {
        margin-bottom: 40px;
        font-weight: 700;
        color: #fed136;
    }
    .kurs p {
        margin-top: 40px;
        text-align: center;
        color: white;
    }

.flagi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kurs-nazwa {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
}

    .kurs-nazwa span {
        padding-left: 10px;
        font-size: 1.2rem;
        color: white;
        font-weight: 700;
    }

    .kurs-nazwa > img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }



