@{
    
}
<h1>@ViewData["Nazwa"]</h1>



    <table class="table  mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Słówko</th>
                <th scope="col">Przetłumacz</th>
                <th scope="col">Sprawdź odpowiedź</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Dom</td>
                <td><input type="text"></td>
                <td><button type="button" class="btn btn-dark">Sprawdź</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Samochód</td>
                <td><input type="text"></td>
                <td><button type="button" class="btn btn-dark">Sprawdź</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Drzewo</td>
                <td><input type="text"></td>
                <td><button type="button" class="btn btn-dark">Sprawdź</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Pies</td>
                <td><input type="text"></td>
                <td><button type="button" class="btn btn-dark">Sprawdź</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Kot</td>
                <td><input type="text"></td>
                <td><button type="button" class="btn btn-dark">Sprawdź</button></td>
            </tr>
        </tbody>
    </table>
    
