@{
    var jezyk = ViewData["Jezyk"];
    ViewData["Title"] = "Jezyk";
}
<h1>@ViewData["Title"]</h1>

<p>Wybrałeś @jezyk.NazwaJezyka</p>


<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Left</button>
    <button type="button" class="btn btn-primary">Middle</button>
    <button type="button" class="btn btn-primary">Right</button>
</div>